# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
protocol/build/
protocol/dist/
protocol/.venv/
src-tauri/binaries/speedgram-protocol-*
src-tauri/target/
dist-ssr
*.local
.venv
__pycache__
.pytest_cache
protocol/.venv
src-tauri/target

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
outputs/
